/* ==========================================================================
  navigation
  ========================================================================== */
.toggle-nav {
  display: none;
	background: none; 
	border: none;
	cursor: pointer;
	position: absolute;
	top: 2.5em;
	right: 2em;
	z-index: 1;
}

.hamburger-box {
width:40px;
height:24px;
display:inline-block;
position:relative
}
.hamburger-inner {
display:block;
top:50%;
margin-top:-2px
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
width:40px;
height:4px;
background-color:#fff;
border-radius:4px;
position:absolute;
transition-property:transform;
transition-duration:.15s;
transition-timing-function:ease
}
.hamburger-inner::before,
.hamburger-inner::after {
content:"";
display:block
}
.hamburger-inner::before {
top:-10px
}
.hamburger-inner::after {
bottom:-10px
}
.hamburger--squeeze .hamburger-inner {
transition-duration:.075s;
transition-timing-function:cubic-bezier(0.55,0.055,0.675,0.19)
}
.hamburger--squeeze .hamburger-inner::before {
transition:top .075s .12s ease,opacity .075s ease
}
.hamburger--squeeze .hamburger-inner::after {
transition:bottom .075s .12s ease,transform .075s cubic-bezier(0.55,0.055,0.675,0.19)
}
.hamburger--squeeze.is-active .hamburger-inner {
transform:rotate(45deg);
transition-delay:.12s;
transition-timing-function:cubic-bezier(0.215,0.61,0.355,1)
}
.hamburger--squeeze.is-active .hamburger-inner::before {
top:0;
opacity:0;
transition:top .075s ease,opacity .075s .12s ease
}
.hamburger--squeeze.is-active .hamburger-inner::after {
bottom:0;
transform:rotate(-90deg);
transition:bottom .075s ease,transform .075s .12s cubic-bezier(0.215,0.61,0.355,1)
}
/*off-canvas#################################################################*/
/*body no scroll*/
body.show-nav{
  overflow:  hidden;
	scrollbar-gutter: stable;
}

body.show-nav main{
 opacity: 0.5;
}

/*nav########################################################################*/
/* navigation level1#########################################################*/

.topnav ul li {
	float: left;
	margin-right: 10px;
	list-style: none;
}

.topnav ul li:last-child {
	margin-right: 0;
}

.topnav ul li a {
	display: block;
	color: var(--nav-prim-color);
  padding: 10px;

}

.topnav ul li:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 20px;
  content: "";
  display: block;
  text-align: center;
  height: 1px;
  margin-left:50% ; 
  background: orange;
  transition: width 0.3s ease 0s, margin 0.3s ease 0s;
  width: 0;
}
.topnav ul li:hover:after, .topnav ul li.active:after{ 
  margin-left: 100%; 
  width: 100%; 
  margin-left: 0; 
}

.topnav ul li a:hover,
.topnav ul li.active a{
  color: var(--nav-hover-color);
}

/* navigation level2#######################################################*/

.topnav li ul {
	position: absolute;
	left: -10000px;
	z-index: 500;
	margin-top: 5px;
	background: none;
}

.topnav li:hover ul {
	left: auto;
	top: auto;
	padding-top: 4px;
	padding-bottom: 10px;
}

.topnav li ul li {
	clear: both;
	margin-left: -10px;
	background: #fff;
	min-width: 130px;
}

.topnav li ul li a {
	display: block;
	padding: 5px 10px 7px 10px;
}

.topnav ul li.active ul li a {
	color: var(--nav-hover-color);
}

.topnav li ul li a:hover,
.topnav li ul li.active a {
	background: #e2e2e2;
}

.topnav ul li.active ul li.active a {
	color: var(--nav-hover-color);
}

/* =====================================================================
   Media Queries
   ===================================================================== */

	 @media (max-width: 992px) {
		.toggle-nav {
			display: block;
			
		}
		
		.topnav {
			position: fixed;
			display: block;
			width: 250px;
			height: 100%;
			top: 0;
			bottom: 0;
			left: -350px;
			background: #eee;
			padding: 15px;
			overflow-y: scroll;
			z-index: 9999;
			margin: 0 !important;
			transition: .3s ease all;
		}
		
		.show-nav .topnav {
			left: 0;
		}

		.topnav ul {
			margin-left: 2em;
			margin-top: 0;
		}
		
		.topnav .active {
			border-top: none;
		}
		
		.topnav li {
			clear: both;
			float: inherit;
			margin: 2px 0 2px -20px;
			width: 100%;
			padding: 10px 0;
		}
		
		.topnav li:last-child {
			border: none;
		}
		
		.topnav ul li a {
			display: block;
			width: 100%;
			padding: 5px;
			color: var(--nav-sec-color);
		}
		
		.topnav ul li a:hover,
		.topnav ul li.active a {
			color: var(--nav-mob-hover-color);
		}
		
		.topnav li ul li {
			margin: 2px 0 2px -35px;
			/*padding-left: 20px;*/
			border: none;
			border-bottom: 1px solid #e3e3e3;
			font-weight: normal;
			width: calc(100% + 35px);
			background: none;
		}
		
		}
		@media (max-width: 768px) {
		
		}